.img_register {
  .Christmas-img {
    z-index: 2;
    position: absolute;
    bottom: 0%;
    left: 35%;
    height: 580px;

  
    /* deketop2 */
    @media only screen and (min-device-width: 1200px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
      height: 500px !important;
      left: 11rem !important;
      top: 42% !important;
    }

    /* deketop3 */
    @media only screen and (min-device-width: 1025px) and (max-device-width: 1199px) and (-webkit-min-device-pixel-ratio: 2) {
      height: 400px !important;
      left: 35rem !important;
      top: 25% !important;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) and (max-width: 1199.98px) { 
      height: 350px;
      left: 35rem;
      top: 40%;
    }


    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) and (max-width: 991.98px) {
      height: 350px;
      left: 26rem;
      top: 50%;
     }


    // Small devices (landscape phones, less than 767.98px)
    @media only screen and (max-width: 767.98px) {
      height: 170px;
      top: 100%;
    }
  }
}
