/* stylelint scss/dollar-variable-pattern: /foo-.+/ 
  forexcample a { $boo-bar: 0; } a { $fooBar: 0; }
*/
// color
$foo-green-gray: hsl(167, 38%, 75%) !default;
$foo-green-ink: hsl(167, 78%, 32%) !default;

$foo-black: hsl(0, 0%, 4%) !default;

$foo-white: hsl(0, 0%, 100%) !default;

$foo-light-grayish-yellow: hsl(51, 36%, 89%) !default;

// Typography
$foo-family-sans-serif: "Lucida Bright", "Georgia", "serif";
$foo-family-letter:  "Gloria Hallelujah", "cursive" ;
