 @import "_variables";
 @import "global";

 .containerbody {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100vh;
    min-width: -webkit-fill-available;
    font-family: Lucida Bright, Georgia, serif;
    box-sizing: border-box;
    overflow: hidden;
   
    
}
