@import "_variables";

/* ------------ Extend/Inheritance --------- */
//flex center use in index.vue
%flex-jc-center {
    display: flex;
    justify-content: center;
}

//flex  wrap and direction row
%flex-fw-fd {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

// default screen : width, height
%default-screen {
    min-height: 100vh;
    min-width: -webkit-fill-available;
    padding: 0;
    margin: 0;
}

// default fullscreen 
%default-fullscreen {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $foo-family-sans-serif;
    background-color: $foo-green-gray;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);

    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navbar {
    background-color: $foo-green-gray;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
    z-index: 1;
}

.containerbody {
    overflow: hidden;
    @extend %default-screen;
    @extend %flex-fw-fd;
}

.containerregister {
    @extend %default-screen;
    @extend %flex-fw-fd;

    @media (min-width: 1200px) {
        position: fixed;
        margin-top: -4rem;
    }
}

.containerchrismas {
    box-sizing: border-box;
    overflow: hidden;
    @extend %default-screen;
}

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { }

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { }

// Small devices (landscape phones, less than 767.98px)
//  @media only screen and (max-width: 767.98px) { }
