@import "_variables";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: $foo-family-sans-serif;
    background-color: $foo-green-gray;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);

    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.navbar {
    background-color: $foo-green-gray;
    background-image: url(http://www.transparenttextures.com/patterns/asfalt-light.png);
}

.containerbody {
    display: flex;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    flex-direction: row;
    min-height: 100vh;
    min-width: -webkit-fill-available;
    overflow: hidden;
}

// Extra small devices (portrait phones, less than 576px)
// @media (max-width: 575.98px) { }

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) and (max-width: 767.98px) { }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) and (max-width: 991.98px) { }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) and (max-width: 1199.98px) { }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { }

 // Small devices (landscape phones, less than 767.98px)
//  @media only screen and (max-width: 767.98px) { }