@import "_variables";

/* ------------ Extend/Inheritance --------- */
//flex center use in index.vue
%flex-jc-center {
    display: flex;
    justify-content: center;
}

/* ------------ Class --------- */
// button use in index.vue
.btn-secondary {
    font-weight: bold;
    padding: 0.75rem 3.1rem 0.75rem 3.1rem;
    border-color: transparent;
    font-size: 18px;
}

.headerregister {
    position:absolute;
}
