@import "_variables";

/* ------------ Extend/Inheritance --------- */
//flex center use in index.vue
%flex-jc-center {
    display: flex;
    justify-content: center;
}

//flex center use in index.vue
%margin-page {
    margin-top: auto;
    margin-bottom: auto;
}

/* ------------ Class --------- */
// button
.btn-secondary {
    font-weight: bold;
    padding: 0.75rem 3.1rem 0.75rem 3.1rem;
    border-color: transparent;
    font-size: 18px;
}
