 //start image: hand with gift
 .imghandswithgift {
    display: flex;
    position: relative;
    float: right;
    z-index: 1;
    width: 119px;
    height: 150px;
    margin-top: -6rem;
    margin-right: -2rem;

    // Extra small devices (portrait phones, less than 576px)
    @media only screen and (max-width: 575.98px) {
      margin-top: -3rem;
      margin-right: -1rem;
      width: 59px;
      height: 76px;
    }
  }